/* styles.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
  width: 100svw;
}

.container {
  display: flex;
  width: 90%;
  max-width: 1200px;
  height: 80vh;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  background-color: #1e1e1e;
}

#left-panel {
  display: flex;
  border-radius: 10px;
  flex: 1;
  flex-direction: column;
}

.film-controls {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px;
}

.film-list {
  flex: 1;
  margin: 20px;
  overflow-y: auto;
  border-right: 1px solid #333;
}

#right-panel {
  border-radius: 10px;
  flex: 2;
  display: flex;
  flex-direction: column;
  background-color: #1e1e1e;
}

#right-panel h2 {
  margin-top: 0;
  margin-bottom: 0;
}
#right-panel p{
  margin-top: 0;
  margin-bottom: 15px;
}

#backdrop-container {
  margin: 20px;
  margin-left: 10px;
  height: 30%;
}

#backdrop {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(50%);
  border-radius: 10px;
}

#poster {
  height: 90%;
  transform: translate(5%, -105%);
  /* max-width: 100%; */
  z-index: 1;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.film-title {
  color: #b0b0b0;
  margin-right: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  overflow-y: hidden;
  /* border-right: 1px solid #333; */
  padding-right: 10px;
}
.film-details {
  color: #b0b0b0;
  margin: 20px;
  margin-left: 10px;
  flex: 1;
  overflow-y: auto;
  border-right: 1px solid #333;
  padding-right: 10px;
}

#films {
  margin-top: 0%;
}


.film-list h1 {
  margin-bottom: 10px;
}

.film-list ul {
  list-style-type: none;
  padding: 0;
}

.film-list li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #333;
  transition: background-color 0.3s ease;
}

.film-list li:hover {
  background-color: #333;
}

.right-panel h2 {
  margin-bottom: 15px;
  color: #fff;
}

.right-panel h2 p {
  margin-bottom: 10px;
}

/* Scrollbar styling for Webkit browsers (Chrome, Safari) */
.scroll::-webkit-scrollbar {
  width: 8px;
}

.scroll::-webkit-scrollbar-track {
  background: #1e1e1e;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 10px;
}

/* Scrollbar styling for Firefox */
.scroll {
  scrollbar-width: thin;
  scrollbar-color: #333 #1e1e1e;
}

/* Film Controls Styles */
.control-group {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 20px;
  /* border:5px; */
}

.control-group label {
  margin-right: 10px;
}

.control-group select {
  width: 50%;
  height: 30px;
  background-color: #333;
  color: #e0e0e0;
  border: 1px solid #555;
  border-radius: 5px;
  padding: 5px;
  appearance: none;
  cursor: pointer;
  /* padding:10px; */
}

.control-group select:hover,
.control-group select:focus {
  border-color: #888;
  outline: none;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    width: 98%;
    height: 99%;
  }

  #left-panel {
    flex: 1;
  }

  #right-panel {
    flex: 3
  }

  .film-list {
    margin: 10px;
    margin-left: 5px;
    padding-right: 5px;
    /* padding-left: 0px; */
  }

  .film-details {
    margin: 10px;
    padding-right: 10px;
  }

  .control-group {
    margin-right: 10px;
  }

  .film-list li {
    padding-left: 5px;
  }
}
a{
  color: #b0b0b0;
}
