/* styles.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  width: 90%;
  max-width: 1200px;
  height: 80vh;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  background-color: #1e1e1e;
}

/* Film List Styles */
.left-panel {
  display: flex;
  flex-direction: column;
  /* Stack controls and film list */
  flex: 1;
  /* Allow it to grow */
}

.film-controls {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 10px;
}

.film-list {
  flex: 1;
  /* Allow film list to take remaining space */
  padding: 20px;
  overflow-y: auto;
  /* Enable vertical scrolling */
  border-right: 1px solid #333;
}

.film-list h1 {
  margin-bottom: 10px;
}

.film-list ul {
  list-style-type: none;
  padding: 0;
}

.film-list li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #333;
  transition: background-color 0.3s ease;
}

.film-list li:hover {
  background-color: #333;
}

/* Film Details Styles */
.film-details {
  flex: 2;
  height:100%;
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  background-color: #1e1e1e;
}

.film-details h2 {
  margin-bottom: 15px;
  color: #fff;
}

.film-details p {
  margin-bottom: 10px;
}

/* Scrollbar styling for Webkit browsers (Chrome, Safari) */
.film-list::-webkit-scrollbar {
  width: 8px;
}

.film-list::-webkit-scrollbar-track {
  background: #1e1e1e;
}

.film-list::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 10px;
}

/* Scrollbar styling for Firefox */
.film-list {
  scrollbar-width: thin;
  scrollbar-color: #333 #1e1e1e;
}

/* Film Controls Styles */
.control-group {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 20px;
  /* border:5px; */
}

.control-group label {
  margin-right: 10px;
}

.control-group select {
  width: 50%;
  height: 30px;
  background-color: #333;
  color: #e0e0e0;
  border: 1px solid #555;
  border-radius: 5px;
  padding: 5px;
  appearance: none;
  cursor: pointer;
  /* padding:10px; */
}

.control-group select:hover,
.control-group select:focus {
  border-color: #888;
  outline: none;
}

/* Details Container Styles */
#details-container {
  display: none;
  position: relative;
  padding: 20px;
  background-color: #121212;
  border-radius: 10px;
  overflow: hidden;
  color: white;
  height:100%
}

#backdrop-container {
  position: relative;
  width: 100%;
  height: 30%;
}

#backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(50%);
  border-radius: 10px;
}

#poster {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  width: 150px;
  z-index: 1;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

#details-content {
  /* padding-top: 20px; */
  color: #b0b0b0;
  margin-top: 20px;
  padding: 10px;
  /* height: 30vh; */
  max-height: 70%;
  /* Set a maximum height */
  overflow-y: auto;
}

/* Scrollbar styling for Webkit browsers (Chrome, Safari) */
#details-content::-webkit-scrollbar {
  width: 8px;
}

#details-content::-webkit-scrollbar-track {
  background: #1e1e1e;
}

#details-content::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 10px;
}

/* Scrollbar styling for Firefox */
#details-content {
  scrollbar-width: thin;
  scrollbar-color: #333 #1e1e1e;
}

h2 {
  margin-bottom: 10px;
}

p {
  margin: 5px 0;
}

@media (max-width: 768px) {
  .container {
    flex-direction: row;
    /* padding: 2px; */
    display: flex;
    width: 95%;
    max-width: 1200px;
    height: 95vh;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    background-color: #1e1e1e;
  }
  #details-container {
    /* display: none;
    position: relative;
    padding: 20px;
    background-color: #121212;
    border-radius: 10px;
    overflow: hidden;
    color: white; */
    height: 100%;
  }
  #details-content {
    /* margin-top: 20px; */
    padding: 10px;
    /* height: 100%; */
    /* max-height: 500px; */
    /* Set a maximum height */
    /* overflow-y: auto; */
  }

  .left-panel {
    flex: 1;
    /* Allow it to take a smaller space */
    max-width: 130px;
    /* Set a maximum width for the film list */
    padding: 10px;
    /* Adjust padding for smaller devices */
  }

  .film-list {
    padding: 5px;
  }

  .film-details {
    flex: 2;
    padding: 10px;
    height: 95vh;
  }

  .control-group {
    /* display: flex;
        align-items: center;
        width: 100%;
        justify-content: flex-end;
        margin-bottom: 5px;
        margin-top: 5px;
        ; */
    margin-right: 10px;
    /* border:5px; */
  }
}
