body {
    margin: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    height: 100svh;
    width: 100svw;
}

.container {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;

}

.film-container {
    display: flex;
    flex: 1;
    overflow-y: auto;
    justify-content: center;
    /* margin-top: 20px; */
    /* padding: 10px; */
}

.bottom-panel {
    /* height: 20%; */
    margin-top: 10px;
    margin-bottom: 10px;
}


/* Style for individual film groups */
.film-group {
    /* flex: 1; */
    background-color: #1e1e1e;
    width:50%;
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-height: 80%;
    max-width: 50%;
    overflow-y: auto;
    flex-direction: row;
    flex-wrap: wrap;
    /* column-count: 2; */
}




/* Button styles */
.start-btn,
.apply-filters-btn {
    background-color: #da7d03;
    color: #1e1e1e;
    border: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 10px 20px;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
}

.start-btn:hover,
.apply-filters-btn:hover {
    background-color: #018786;
}

/* Filters styling */
.filters {
    margin-bottom: 20px;
}

.filters label {
    margin-right: 10px;
}

.filters select {
    margin-right: 15px;
    padding: 5px;
}

.apply-filters-btn {
    padding: 5px 10px;
}

.progress {
    /* margin-top: 15px; */
    font-size: 1.2rem;
}

/* Scrollbar styling for Webkit browsers (Chrome, Safari) */
.scroll::-webkit-scrollbar {
    width: 8px;
}

.scroll::-webkit-scrollbar-track {
    background: #1e1e1e;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 10px;
}

/* Scrollbar styling for Firefox */
.scroll {
    scrollbar-width: thin;
    scrollbar-color: #333 #1e1e1e;
}

.h2 {
    text-align: center;
    width:100%;
}




.film-card {
    background-color: #111111;
    /* background-color: #585858; */
    color: #f0f0f0;
    border-radius: 8px;
    padding: 0px;
    width: 85px;
    margin: 3px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    font-family: 'Arial', sans-serif;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
}

.film-title {
    flex:1;
    padding:1px;
    font-size: 14px;
    margin: 0px;
    color: #fff;
    overflow-wrap: break-word;
    /* vertical-align:bottom; */
}

.film-details {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    opacity: 0.9;
}

.film-year,
.film-runtime {
    background-color: #181818;
    padding: 2px 4px;
    border-radius: 4px;
}

.film-year {
    margin-right: 10px;
}

/* Responsive adjustments */

/* @media (max-width: 500px) {
    .film-card {
        width: 100%;
        padding: 10px;
    }

    .film-title {
        font-size: 16px;
    }

    .film-details {
        font-size: 12px;
    }
}  */

#season-checkboxes label {
    display: inline-block;
    margin: 4px 8px;
    cursor: pointer;
}

#season-checkboxes {
    margin-top: 1em;
}

#season-checkboxes button {
    margin: 0 4px 8px 0;
    padding: 4px 8px;
}